<div class="index-container">

  <h6>Kuchensammlung</h6>

  <div class="cards-container">
    <% @cakes.each do |cake| %>
    <%= link_to cake_path(cake) do %>
      <div class="card">
        <div class="image-space">
          <% if cake.photo.attached? %>
            <%= cl_image_tag cake.photo.key %>
          <% else %>
            <%= cl_image_tag("cake") %>
            <% end %>
          </div>
        <div class="info">
            <p> <%= cake.name %> </p>
            <p class="small-p"> <%= cake.time %> Minuten</p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <%# <%= link_to "+", new_cake_path, class:"button-plus" %>
  <div class="wrapper-plus">
    <%= link_to new_cake_path do %>
      <p class="button-plus">+</p>
    <% end %>
  </div>
</div>
   
