<div class="index-container">

  <h4>All deine Kuchen</h4>

  <div class="cards-container">
    <% @cakes.each do |cake| %>
    <%= link_to cake_path(cake) do %>
      <div class="card">
        <div class="image">
          <% if cake.photo.attached? %>
            <%= cl_image_tag cake.photo.key, height: 100, crop: :fill %>
          <% else %>
            <%= cl_image_tag("cake", height: 100, crop: :fill) %>
          <% end %>
        </div>
        <div class="info">
          <%= cake.name %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to new_cake_path do %> 
    <div class="button-add">
      neuer Kuchen
    </div>
  <% end %>
</div>